@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {    
    --background: 0 0% 0%; 
    --foreground: 0 0% 100%; 
  
    --card: 0 0% 0%; 
    --card-foreground: 0 0% 100%; 
  
    --popover: 0 0% 0%; 
    --popover-foreground: 0 0% 100%; 
  
    --primary: 0 0% 100%; 
    --primary-foreground: 0 0% 0%; 
  
    --secondary: 0 0% 20%; 
    --secondary-foreground: 0 0% 100%; 
  
    --muted: 0 0% 20%; 
    --muted-foreground: 0 0% 60%; 
  
    --accent: 0 0% 20%; 
    --accent-foreground: 0 0% 100%; 
  
    --destructive: 0 84.2% 60.2%; 
    --destructive-foreground: 0 0% 100%; 
  
    --border: 0 0% 20%; 
    --input: 0 0% 20%; 
    --ring: 0 0% 20%; 
  
    --radius: 0.5rem;
  }

  
  .dark {
    --background: 0 0% 0%; 
    --foreground: 0 0% 100%; 
  
    --card: 0 0% 0%; 
    --card-foreground: 0 0% 100%; 
  
    --popover: 0 0% 0%; 
    --popover-foreground: 0 0% 100%; 
  
    --primary: 0 0% 100%; 
    --primary-foreground: 0 0% 0%; 
  
    --secondary: 0 0% 20%; 
    --secondary-foreground: 0 0% 100%; 
  
    --muted: 0 0% 20%; 
    --muted-foreground: 0 0% 60%; 
  
    --accent: 0 0% 20%; 
    --accent-foreground: 0 0% 100%; 
  
    --destructive: 0 62.8% 30.6%; 
    --destructive-foreground: 0 0% 100%; 
  
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 20%;
  }

  body {
    @apply bg-background text-foreground scroll-smooth antialiased;
    font-family: 'Nunito Sans', Arial, sans-serif;
  }

  * {
    @apply text-white;
  }
}


@layer utilities {
  .clip-path-rounded-left {
    clip-path: ellipse(90% 100% at 100% 50%);
  }

  .clip-path-rounded {
    clip-path: xywh(0 5px 100% 75% round 15% 0);
  }
}


.g-section {
  @apply max-w-page mx-auto px-6;
}
